#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

#loginPage #icon {
    aspect-ratio: 1/1;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(35, 35, 35);
    font-size: 10rem;
}

#loginPage #name {
    font-size: 3rem;
}

#loginPage button {
    font-size: 1.4rem;
}